@mixin warning {
    background-color: orange;
    color: white;
    
    &:hover{
        background-color: lighten(orange, 10%);
    }
}

@mixin large-text {
    
    font-size: 22px;
    font-weight: bold;
    font-color: blue;
}

@mixin rounded($radius) {
    border-radius: $radius;
}

@mixin box($radius, $border) {
    @include rounded($radius);
    border: $border;
}

@mixin fancy-links {
    a{
        font-style: italic;
        text-decoration: none;
    }
}

@mixin box-shadow($shadow...) {
    box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
}

@mixin apply-to-ie-6 {
    * html {
        @content;
    }
    
}

@mixin google-font($font) {
    $font : unquote($font);
    @import url(http://fonts.googleapis.com/css?family=#{$font});
    
}

@mixin tiny-screens() {
    @media only screen and (max-width: 320px){
        @content;
    }
    
}


@mixin small-screens() {
    @media only screen and (max-width: 480px){
        @content;
    }
    
}

@mixin medium-screens() {
    @media only screen and (max-width: 680px){
        @content;
    }
    
}
@mixin large-screens() {
    @media only screen and (max-width: 960px){
        @content;
    }
    
}
